* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage-container {
  /* border: 2px solid black; */
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
  height: 99vh;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header p {
  font-style: italic;
  font-weight: lighter;
  font-size: small;
  text-align: center;
}

.groupList-container {
  flex: 2;
  padding: 1rem;
}

.groupList-container p.no-group-message {
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  font-style: italic;
  color: gray;
}

.add-join-btns {
  display: flex;
  gap: 1rem;

  padding: 0.5rem;
}

.add-join-btns button {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: lightskyblue;
  border: none;
  outline: none;

  transition: transform 200ms ease-in-out 10ms;
}

.add-join-btns button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.group-link {
  text-decoration: none;
  color: black;
}

.dialog-container {
  border: none;
  padding: 0;
  border-radius: 10px;
  background: transparent;
}

form.dialog-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  border: none;
  align-items: center;
  margin: 6rem 2.5rem 2rem;
}

.dialog-box input {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid blue;
}

.memberInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0 0.5rem 2.5rem;
  /* border: 2px solid lightblue; */
}

.memberInfo input {
  border: 1px solid red;
}
input:focus {
  border-color: orange;
  outline-color: orange;
}

.dialog-box::backdrop {
  background: rgba(0, 0, 0, 0.5); /* dimmed background */
}

.dialog-box button {
  opacity: 100%;
}

.groupList-container {
  width: 50%;
  padding: 1rem;
}

.groupList-container ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.groupList-container li {
  list-style: none;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 100%;
  transition: all 200ms ease-in-out 10ms;
}

.group-tile {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.groupList-container li:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: lightblue;
}

.dialog-box2 {
  width: 120%;
  border: none;
  margin: 2rem auto;
  padding: 1rem;
}
.dialog-box2 ul.groups-to-join {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* height: 70%; */
  padding: 2.5rem 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.number-of-grps-title {
  font-size: 1.4rem;
  padding: 1rem 1rem 0.5rem;
  font-weight: bold;
  text-align: center;
}

li {
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  width: 110%;
  list-style: none;
}

.available-group-tile {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.dialog-box3 {
  padding: 2rem;
  margin: 2rem auto;
  width: 100%;
  border: none;
}

.join-req-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.join-req-form input {
  padding: 0.5rem 0.75rem;
  border: 1px solid green;
  border-radius: 2rem;
}

/* Responsive Design */
@media (max-width: 480px) {
  .groupList-container {
    width: 100%;
    padding: 1rem;
  }

  .groupList-container ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .groupList-container li {
    list-style: none;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    width: 100%;
  }
}
