@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage-container {
  border: 0.5rem solid black;
  border-radius: 1rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 1rem auto;
  height: 99vh;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header h1 {
  text-align: center;
  font-weight: bold;
}
.header h2 {
  text-align: center;
  font-weight: lighter;
  color: gray;
}

.header p {
  font-style: italic;
  font-weight: lighter;
  font-size: small;
  text-align: center;
}

.groupList-container {
  width: 80%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupList-container p.no-group-message {
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  font-style: italic;
  color: gray;
}

.groupList-container .group-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 100%;
  width: fit-content;
  padding: 0;
}

.group-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  width: fit-content;
}

.groupList-container .group-list-item:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: lightblue;
}

.btns-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.35rem;
  /* border: 0.5rem solid red; */
}
.btns-container button {
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  background-color: lightskyblue;

  border: none;
  outline: none;
  color: black;

  transition: transform 200ms ease-in-out 10ms;
}

.add-join-btns {
  display: flex;
  gap: 1rem;

  padding: 0.5rem;
}

.add-join-btns button {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: lightskyblue;
  border: none;
  outline: none;
  color: black;

  transition: transform 200ms ease-in-out 10ms;
}

.add-join-btns button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.group-link {
  text-decoration: none;
  color: black;
}

.dialog-container {
  border: none;
  padding: 0;
  border-radius: 10px;
  background: transparent;
}

form.dialog-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  border: none;
  align-items: center;
  margin: 6rem 2.5rem 2rem;
}

.dialog-box input,
textarea {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid blue;
}

.memberInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0 0.5rem 2.5rem;
  /* border: 2px solid lightblue; */
}

.memberInfo input {
  border: 1px solid red;
}
input:focus {
  border-color: orange;
  outline-color: orange;
}

.dialog-box::backdrop {
  background: rgba(0, 0, 0, 0.5); /* dimmed background */
}

.dialog-box button {
  opacity: 100%;
}

.dialog-box2 {
  width: 120%;
  border: none;
  margin: 2rem auto;
  padding: 1rem;
}
.dialog-box2 ul.groups-to-join {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* height: 70%; */
  padding: 2.5rem 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.number-of-grps-title {
  font-size: 1.4rem;
  padding: 1rem 1rem 0.5rem;
  font-weight: bold;
  text-align: center;
}

li {
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  width: 110%;
  list-style: none;
}

.available-group-tile {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.dialog-box3 {
  padding: 2rem;
  margin: 2rem auto;
  width: 100%;
  border: none;
}

.join-req-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.join-req-form input {
  padding: 0.5rem 0.75rem;
  border: 1px solid green;
  border-radius: 2rem;
}

.group-details-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 92vw;
}

.group-details-page li {
  list-style: decimal;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: none;
  box-shadow: none;
}

.member-tile {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border: none;
  list-style: decimal;
}

.check-requests-dialog {
  width: 100%;
  padding: 1rem;
  margin: 2rem auto;
  border: none;
}

.check-requests {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.request-tile {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.edit-details-btn {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: lightskyblue;
  border: none;
  outline: none;
  transition: transform 200ms ease-in-out 10ms;
  position: fixed;
  bottom: 4rem;
  right: 1rem;
}

.back-btn {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: lightskyblue;
  border: none;
  outline: none;
  transition: transform 200ms ease-in-out 10ms;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.edit-group-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}
.edit-group-page form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  padding: 1rem 0.75rem;
  width: 100%;
  border-radius: 1rem;
  /* border: 1rem solid orange; */
}

.edit-group-page form .user-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: flex-start;
  /* border: 0.5rem solid red; */
  padding: 0.5rem;
}

label {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  gap: 0.5rem;
  align-items: center;
  /* border: 0.5rem solid pink; */
  padding: 0.5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 0.5rem rgba(84, 84, 84, 0.1);
  border-radius: 0.5rem;
}

.members-label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;

  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.member-edit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.member-edit label {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}

label input,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0.1rem solid blue;
}

textarea:focus {
  border-color: orange;
  outline: orange;
}

.btns {
  padding: 0.5rem 1rem;
  background-color: lightskyblue;
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 0.25rem auto;
  border-radius: 1.5rem;
  font-weight: bold;
  border: none;
  outline: none;
}

.add-member-dialog {
  border: none;
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
}
.add-member-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: none;
}

.add-member-form input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid blue;
  margin: 0.5rem 0;
}

.add-cancel-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

button {
  color: rgb(78, 76, 76);
  font-weight: bold;
}

.contribution-tracker-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.contribution-tracker-container h2 {
  text-align: center;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: 0.125rem solid black;
  width: 100%;
  padding: 0.5rem 0;
}

tr,
th,
td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.125rem;
}

th {
  background-color: lightskyblue;
  font-weight: bold;
}

td input[type="checkbox"] {
  width: 2rem;
  height: 1.35rem;
  /* appearance: none */

  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 480px) {
  .homepage-container {
    border: none;
    width: 100%;
  }
  .groupList-container {
    width: 100%;
    padding: 1rem;
  }

  .groupList-container ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem;
  }

  .groupList-container li {
    list-style: none;
    padding: 0.75rem 0.5rem;
    border-radius: 2.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    width: 100%;
  }

  .group-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
  }
}
